/* Reset default browser styles */
html, body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {    
    background-color: #f9f9f9;
    color: #333;
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.main-heading {
    font-size: 2em;
    margin-bottom: 10px;
    color: #333; /* Adjust color to match your design */
    text-transform: uppercase; /* Make text uppercase */
    letter-spacing: 2px; /* Add letter spacing for emphasis */
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

header {
    background-color: #DAA6C8; /* Pink background */
    color: #fff;
    padding: 10px 0;
    position: relative;
    transition: top 0.3s;
    z-index: 1;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

header.collapsed {
    top: -100px;
}

header .logo {
    max-height: 90px;
    margin-right: 5px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.nav-links li {
    position: relative;
    margin-left: 20px;
}

nav ul.nav-links li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    transition: color 0.3s;
}

nav ul.nav-links li a:hover {
    color: #333;
    text-decoration: underline;
}

nav ul.nav-links li.dropdown:hover .dropdown-content {
    display: block;
}

nav ul.nav-links li.dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #DAA6C8;
    color: #333;
    min-width: 200px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

nav ul.nav-links li.dropdown .dropdown-content li {
    padding: 1px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

nav ul.nav-links li.dropdown .dropdown-content li a {
    color: #ffffff;
    text-decoration: none;
}

nav ul.nav-links li.dropdown .dropdown-content li a:hover {
    color: #ffffff;
    text-decoration: underline;
}

/* Home page*/
.home-banner {
    background-color: #9e3576; 
    color: #fff;
    padding: 70px;
    text-align: center;
    margin-top: -300px;
    padding-top: 300px;
}
.home-banner h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.home-banner h2 {
    margin: 0;
}

.home-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.home-info {
    flex: 1 1 50%;
    padding: 20px;
}

.home-banner p {
    font-size: 1.5em;
    margin-bottom: 40px;
}
.btn {
    background-color: #f8c12f;
    color: #004c8b;
    border: none;
    padding: 15px 30px;
    font-size: 1.2em;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}
.btn:hover {
    background-color: #e0b520;
}
.home-image {
    flex: 1 1 50%;
    padding: 20px;
    text-align: center;
}

.home-image img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.quote {
        margin-top: 20px;
        font-style: italic;
        text-align: center;
        color: dark pink;
    }

/*Social Icons*/
.social-icons {
    display: flex;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-left: 20px;
}

.social-icons li {
    margin-left: 10px;
}

.social-icons li a {
    display: inline-block;
}

.social-icons li a img {
    height: 20px;
}

/* Section styles */
.section {
    padding: 60px 0;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

/*Our Team page*/

.profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust spacing between profiles as needed */
    margin-top: 20px;
    justify-content: space-between; /* Ensures even spacing between items */
}

.profile {
    flex: 1 1 calc(50% - 20px); /* Each profile takes up 50% of the row minus the gap */
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
    max-width: calc(50% - 20px); /* Prevent profiles from stretching too wide */
}

.profile-picture {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
    border: 5px solid #DAA6C8; /* Pink border around profile pictures */
}

.profile h3 {
    margin: 10px 0;
    font-size: 1.5em;
    color: #DAA6C8; /* Pink text color */
}

.profile h4 {
    margin: 5px 0;
    font-size: 1.2em;
    color: #555;
}

.profile p {
    margin: 0 auto; /* Center the text */
    max-width: 60%; /* Make the description span as wide as the profile */
    text-align: justify; /* Ensure even text distribution */
}

/* About Us Page */
.about-us {
    padding: 50px 0;
    background-color: #f9f9f9;
}

.about-us .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.about-us h2 {
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}

.about-text {
    flex: 1 1 60%;
}

.about-text p {
    margin-bottom: 20px;
    font-size: 1.1em;
    line-height: 1.8;
    text-align: center;
}

.about-image {
    flex: 1 1 40%;
    text-align: center;
}

.about-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.about-box {
    background-color: #DAA6C8; /* Pink background for about boxes */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff; /* White text color */
    text-align: center;
}

.about-us-banner {
    background-color: #8B5991; /* Same color as the Founders section */
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.sub-banner {
    background-color: #DAA6C8; /* Pink background for sub-banners */
    color: #fff;
    padding: 15px;
    text-align: center;
    margin: 20px 0; /* Adjust spacing between banners */
    border-radius: 10px;
}

.centered-content {
  text-align: center;
}

.centered-content .about-us-banner,
.centered-content .container,
.centered-content .sub-banner,
.centered-content .about-box {
  display: inline-block;
  text-align: left; /* Reset text alignment for inner elements if needed */
}

.pink-box {
  background-color: pink;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
}

.separator {
    border-top: 1px solid #ddd;
    margin: 2rem 0;
}


/* Get Involved Page */

.contact-us {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.contact-us form {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.contact-inputs {
    width: 800px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    border-radius: 50px;
    background-color: #ffe6f2; /* Light pink background */
    color: #ff69b4; /* Pink text color */
    display: block;
}

.contact-inputs{
    margin-bottom: 20px; /* Add more space before the submit button if needed */
}

.contact-us textarea {
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
    background-color: #ffe6f2; /* Light pink background */
    color: #ff69b4; /* Pink text color */
}

.contact-inputs:focus {
    border: 2px solid #DAA6C8;
}

.contact-us button {
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #ffffff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg, #DAA6C8, #CF5387);
    cursor: pointer;
}

.contact-banner {
    text-align: center;
    background-color: #DAA6C8; /* Pink background color */
    color: white;
    padding: 20px;
    border-radius: 10px 10px 0 0;
}

.contact-banner h1 {
    margin: 0;
    font-size: 2em;
}

.contact-banner p {
    margin: 10px 0 0 0;
    font-size: 1.2em;
}

.contact {
    margin: 20px auto;
    max-width: 600px;
    text-align: left;
}

.contact h2 {
    margin-bottom: 15px;
    font-size: 1.5em;
}

.contact-info {
    margin-top: 20px;
    background-color: #fff;
    padding: 15px;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 -1px 10px rgba(0,0,0,0.1);
    text-align: left;
}

.contact-info h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
}

.contact-info p {
    margin: 5px 0;
}


/*Footer Information*/
footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: relative;
    width: 100%;
    z-index: 1;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    flex-wrap: wrap;
}
.footer-content {
    text-align: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-top: 1px solid #eaeaea;
}

.sponsors {
    flex: 1 1 100%; /* Take full width on small screens */
    background-color: #c53179; /* Dark pink background */
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.newsletter-signup {
    flex: 1;
    margin-top: 20px;
    text-align: center; /* Center align newsletter form */
}

.newsletter-signup form {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.newsletter-signup input[type="email"] {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 5px;
    width: 250px; /* Adjust width as needed */
}

.newsletter-signup button {
    padding: 8px 20px;
    font-size: 14px;
    background-color: #c53179;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
/* Media Query for Larger Screens */
@media (min-width: 768px) {
    .footer-container {
        flex-wrap: nowrap;
    }

    .sponsors {
        flex: 1 1 30%; /* Adjust size for larger screens */
        margin-right: 20px;
    }

    .newsletter-signup {
        flex: 1 1 70%; /* Adjust size for larger screens */
    }
}

/*Our Programs section*/
.program-section {
    margin-bottom: 30px;
}

.program-section > h2 {
    font-size: 2.5em;
    color: #790084;
    margin-bottom: 20px;
    position: relative;
    width: auto;
    text-align: center;
}

.program-section h2::after {
    content: "";
    display: block;
    width: 26%; /* Adjust the width of the underline */
    height: 2px; /* Adjust the thickness of the underline */
    background-color: #cea9e4;
    position: absolute;
    bottom: -5px; /* Adjust this value to add space between text and underline */
    left: 50%; /* Center align horizontally */
    transform: translateX(-51%); /* Center align horizontally */
}

.program-section h3 {
    font-size: 2em;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

/* Accordion Styles */
.accordion {
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    overflow: hidden;
}

.accordion-item {
    border-bottom: 1px solid #ddd;
}

.accordion-item:last-child {
    border-bottom: none;
}

.accordion-header {
    background: #CF5387;
    color: #fff;
    padding: 15px;
    font-size: 1.2em;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: background 0.3s;
}

.accordion-header:hover {
    background: #a64c72;
}

.accordion-icon {
    font-size: 1.5em;
    transition: transform 0.3s;
}

.accordion-header.active .accordion-icon {
    transform: rotate(180deg);
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, padding 0.3s ease-out;
}

.accordion-content ul {
    padding-left: 15px; /* Adjust the padding for the bullets */
    margin: 10px 0; /* Optional: Adjust the top and bottom margin */
}

.accordion-header.active + .accordion-content {
    max-height: 500px; /* Adjust based on your content's maximum height */
    padding: 25px;
}

.accordion-content p {
    margin: 0;
    font-size: 1em;
    color: #333;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.motivational-box {
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 10px;
  }
  
button:hover {
    background-color: #0056b3;
}
  
p {
    margin: 10px 0;
}


/* Home banner with lots of info */
.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 2400px;
    margin-bottom: 20px;
}

.banner-item {
    min-width: 300px;
    max-height: 200px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    color: white;
    position: relative;
}

.banner-item:nth-child(1) {
    background-color: #f8d1dc; /* Pink background */
}

.banner-item:nth-child(2) {
    background-color: #4a153b; /* Dark purple background */
}

.banner-item:nth-child(3) img {
    display: block;
    width: 100%;
    height: auto;
}

.banner-item:nth-child(4) {
    background-color: #4a153b; /* Dark purple background */
}

.banner-item h1,
.banner-item h2 {
    margin: 0 0 0px;
}

.banner-item p {
    margin: 0 0 0px;
}

.banner-item button {
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: black;
    cursor: pointer;
}

.banner-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.stats-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    max-width: 2400px;
}

.stat-item {
    flex: 1;
    min-width: 150px;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.stat-item:nth-child(1) {
    background-color: #2b2350; /* Dark blue background */
    color: #fff;
}

.stat-item:nth-child(2) {
    background-color: #7a95b7; /* Light blue background */
    color: #fff;
}

.stat-item:nth-child(3) {
    background-color: #f4d03f; /* Yellow background */
    color: #333;
}

.stat-item:nth-child(4) {
    background-color: #e0acb5; /* Light pink background */
    color: #333;
}

.stat-item h2 {
    margin: 0 0 10px;
    font-size: 2em;
}

.stat-item p {
    margin: 0;
}
.motivational-banner {
    background-color: #f0f0f0;
    color: #fff; /* Text color */
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
}

.motivational-content h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.motivational-content p {
    font-size: 16px;
    line-height: 1.6;
}

/* Tabled Interfaces Styles */
  .tabs {
    display: flex;
    flex-direction: column;
  }

  .tab-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0 0 10px 0;
  }

  .tab-links li {
    margin-right: 10px;
  }

  .tab-links a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    background: #eee;
    color: #333;
    border-radius: 5px 5px 0 0;
  }

  .tab-links a:hover {
    background: #ddd;
  }

  .tab-links .active a {
    background: #ddd;
    color: #000;
  }

  .tab-content {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    background: #fff;
  }

  .tab {
    display: none;
  }

  .tab.active {
    display: block;
  }

/* Style for the copyright notice */
.copyright {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}
