/* Reset default browser styles */
html, body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

header {
    background-color: #DAA6C8;
    padding: 2px 0; /* Reduced padding */
    position: relative;
    transition: top 0.3s;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: left;
}

header.collapsed {
    top: -100px;
}

header .logo {
    max-height: 90px;
    margin-right: 5px;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul.nav-links li {
    position: relative;
    margin-left: 20px;
}

nav ul.nav-links li .dropdown-content {
    display: none;
    position: absolute;
    background-color: #DAA6C8;
    min-width: 200px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

nav ul.nav-links li .dropdown-content li {
    padding: 1px 10px;
}

nav ul.nav-links li .dropdown-content li a {
    color: #333;
    text-decoration: none;
}

nav ul.nav-links li .dropdown-content li a:hover {
    background-color: #ddd;
}

nav ul.nav-links li:hover .dropdown-content {
    display: block;
}

nav ul.social-icons {
    margin-left: 20px; /* Space between nav links and social icons */
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 16px;
}

nav ul.social-icons li a img {
    width: 40px; /* Icon size */
    height: 40px;
}

section {
    padding: 50px 0;
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.profiles {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust spacing between profiles as needed */
    margin-top: 20px;
    justify-content: space-between; /* Ensures even spacing between items */
}

.profile {
    flex: 1 1 calc(50% - 20px); /* Each profile takes up 50% of the row minus the gap */
    box-sizing: border-box;
    text-align: center;
    margin-bottom: 20px;
    max-width: calc(50% - 20px); /* Prevent profiles from stretching too wide */
}

.profile-picture {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    margin-bottom: 10px;
}

.profile h3 {
    margin: 10px 0 5px;
}

.profile p {
    margin: 0 auto; /* Center the text */
    max-width: 60%; /* Make the description span as wide as the profile */
    text-align: justify; /* Ensure even text distribution */
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
}

.team-banner {
    background-color: #DAA6C8;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-bottom: 20px;
    width: 100%;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
}
